

body {
  background-color: #ffeefc;
}

h1 {
  text-align: center;
}


button, input[type="button"] {
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #02200c;
  color: white;
  transition: 0.5s;
  position: absolute;
}

button:first-of-type, input[type="button"]:first-of-type {
  left: 16px;
}

button:last-of-type, input[type="button"]:last-of-type {
  right: 16px;
}

button:disabled, input[type="button"]:disabled {
  background-color: gray;
}

.answer {
  cursor: pointer;
  padding: 5px;
  margin: 0;
  border: 2px solid transparent;
}

.answer:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  padding: 1px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
  padding: 2px;
}

.answer.correct::before, .answer.incorrect::before {
  background: black content-box;
}

.correct {
  border: 2px solid green;
}

.incorrect {
  border: 2px solid red;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
